## Skeeper CLI {{ .Version }}

Welcome to the latest release of the Skeeper CLI!

### Installation

#### Homebrew
```bash
brew install compozy/compozy/skeeper
```

#### NPM
```bash
npm install -g @compozy/skeeper
```

#### Binary Download
Download the appropriate `skeeper_{{ .Version }}_<os>_<arch>.tar.gz` asset for your platform and extract it.

#### Go Install
```bash
go install github.com/compozy/skeeper/cmd/skeeper@{{ .Tag }}
```
